* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    background-color: #0E0B16;
}

.logoimg {
    width: 50px;
}

nav {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E0B16;
}


nav ul {
    display: flex;
}

nav ul li {
    padding: 1rem;
}

nav ul li {
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    padding-bottom: 0.5rem;
    color: #E7DFDD;
    cursor: pointer;
}

nav ul li:hover {
    border-bottom: 2px solid #A239CA;
}

main {
    text-transform: uppercase;
}

.mobile-menu-icon {
    display: none;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 1;
    cursor: pointer;
}

.hamburger-menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}

.hamburger-menu .line {
    background-color: #4717F6;
    height: 3px;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

nav.open ul {
    transform: translateX(0);
}

nav.open .hamburger-menu {
    transform: rotate(180deg);
}

nav.open .hamburger-menu .line:nth-of-type(1) {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg) translate(0.6rem, 0.1rem);
}

nav.open .hamburger-menu .line:nth-of-type(2) {
    display: none;
}

nav.open .hamburger-menu .line:nth-of-type(3) {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg) translate(0.6rem, -0.1rem);
}

@media screen and (max-width: 600px) {
    nav {
        width: 90%;
    }

    .mobile-menu-icon {
        display: block;
    }

    header {
        background-color: initial;
    }

    nav ul {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding-top: 3rem;
        background-color: #0E0B16;
        transform: translateX(-20rem);
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
    }

    nav ul li {
        padding: 2rem 4rem;
        width: 100%;
        cursor: pointer;
    }

    nav ul li:not(:last-child) {
        border-bottom: 1px solid #0E0B16;
    }
}

/*FIM DO HEADER*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E7DFDD;
}

::-webkit-scrollbar-thumb {
    background: #4717F6;
}

/*FIM SCROLL*/

body {
    background-color: #0E0B16;
}

.container-sobre {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.lado-1-sobre,
.lado-2-sobre {
    width: 50%;
}

.lado-1-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E7DFDD;
    font-size: 1.50rem;
}

.line {
    border-right: 2px solid #E7DFDD;
    color: #E7DFDD;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 2.55rem;
    cursor: pointer;
}

.line span {
    color: #4717F6;
}

@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}

.type-animation {
    animation:
        cursor 500ms steps(28) infinite normal,
        type 4s steps(28) 1s normal both;
}

@keyframes cursor {
    from {
        border-right-color: #E7DFDD;
    }

    to {
        border-right-color: transparent;
    }
}

.botao__cor__perseguida {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #4717F6;
    padding: 1.3rem 2.4rem;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    margin-top: 60px;
}

.botao__cor__perseguida span {
    position: relative;
    pointer-events: none;
}

.botao__cor__perseguida::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #A239CA, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

.botao__cor__perseguida:hover::before {
    --size: 400px;
}

@media (max-width: 1150px) {
    .line {
        font-size: 2rem;
    }
}

@media (max-width: 900px) {
    .container-sobre {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: start;
        gap: 40px;
    }

    .lado-1-sobre {
        width: 90%;
    }

    .lado-2-sobre {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 530px) {
    .line {
        font-size: 1.75rem;
    }
}

@media (max-width: 450px) {
    .line {
        font-size: 1.50rem;
    }

    .lado-1-sobre {
        font-size: 1.25rem;
    }
}

@media (max-width: 400px) {
    .line {
        font-size: 1.25rem;
    }

    .lado-1-sobre {
        font-size: 1rem;
    }
}

/*FIM DO LADO 1*/

.post-foto {
    width: 550px;
}

/*FIM SOBRE*/

.container-skills {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.reveal {
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.tipo__1 {
    background-image: linear-gradient(#A239CA, #A239CA);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size .8s;
    cursor: pointer;
    color: #E7DFDD;
    width: 260px;
    text-align: center;
    margin: auto;
}

.tipo__1:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

/*FIM TITULO SKILLS*/

.container-cards-skills {
    display: flex;
    margin-top: 70px;
    gap: 20px;
    margin-bottom: 140px;
}

.glass {
    width: 13rem;
    padding: 5rem 2rem;
    text-align: center;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1.6rem;
    color: #fff;
    box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.glass p {
    font-size: 1.6rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .glass {
        width: 10rem;
        padding: 3rem 2rem
    }
}

@media (max-width: 1000px) {
    .glass {
        width: 7rem;
    }

    .glass p {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .container-cards-skills {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        gap: 20px;
        margin-bottom: 140px;
    }

    .glass {
        width: 18rem;
        margin: auto;
        padding: 9rem 6rem;
        text-align: center;
        backdrop-filter: blur(12px);
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 1.6rem;
        color: #fff;
        box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.1);
    }

    .glass p {
        font-size: 1.8rem;
        font-weight: 400;
    }
}

/*FIM SKILLS*/
.projetos,
fieldset {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.gallery {
    display: flex;
    margin-top: 60px;
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
}

.gallery img {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
}

.gallery img:hover {
    flex: 1 1 280px;
    opacity: 1;
}

/*FIM PROJETOS*/

footer,
footer .container {
    width: 100%;
}

footer .tipo__1 {
    margin-bottom: 50px;
}

.btn_social {
    width: 100%;
    float: left;
    display: flex;
    margin: auto;
}

.btn_social ul {
    width: auto;
    margin: auto;
    float: left;
    display: block;
}

.btn_social ul li {
    position: relative;
    background: #555555;
    list-style: none;
    float: left;
    margin: 25px;
    z-index: 1;
    overflow: hidden;
    border-radius: 3px;
    font-size: 1.5em;
    text-align: center;
}

.btn_social ul li a {
    width: 100px;
    height: 100px;
    line-height: 53px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: .4s;
}

.btn_social ul li::before {
    transition: 0.4s;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 90%;
    left: 0;
    background: #4717F6;
    z-index: -1;
    transform: scale(1);
    transition: .4s;
}

.btn_social ul li:hover::before {
    transition: 0.4s;
    top: 0%;
}

.btn_social ul li a:hover {
    color: #555555;
}